/* Global styles */
body {
  margin: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: gold;
}

.button-container fixed-buttons {
  display: flex;
  z-index: 1;
}

/* Grid styles */

.grid {
  display: none;
  /* grid */
  grid-template-columns: repeat(3, 28vw);
  grid-template-rows: repeat(3, 28vh);
  grid-gap: 20px;

}

.grid-setting-btn {
  display: none;
}

.box,
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0vw, 3.7vh);
}

.circle {
  position: absolute;
  width: 13vw;
  height: 9vh;
  border-radius: 50%;
  background-color: blue;
  color: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main menu styles */
.main-menu {
  display: flex; 
}

.button-container {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 76vh;
  left: 0px;
  width: 100vw;
  margin: 0%;
  background-color: red;
}

.squircle-button-big,
.settings,
.menu,
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border-radius: 20%;
  color: #fff;
  font-size: 4.5vh;
  text-transform: uppercase;
  cursor: pointer;
}

.squircle-button-big {
  position: flex;
  top: 80vh;
  height: 20vh;
  width: 48vw;
  background-color: blue;
  /* Green */
}

.settings,
.menu,
.home {
  height: 6vh;
  width: 31vw;
  background-color: blue;
  /* Blue */
}

.fixed-buttons {
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 2;
  background-color: black;
  /* Dark gray */
}

.main-header {
  position: fixed;
  top: 8vh;
  left: 0%;
  display: flex;

}

#corner-popup,
#settings-corner-popup,
#menu-corner-popup {
  position: fixed;
  top: 10vh;
  left: 0%;
  display: none;
}

#corner-popup {
  background-color: red;
  border-radius: 5px;
  padding: 2px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  top: 0px;
  z-index: 1;
}

button.squircle-button-big,
.box,
.circle,
a {
  text-decoration: none;
  outline: none;
  /* Remove the focus outline */
  border: none;
  /* Remove any border */
}

button:focus,
a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#settings-corner-popup button,
#menu-corner-popup button,
input {
  display: inline;
  margin-bottom: 15px;
  background-color: red;
  /* Set the background color for buttons inside popups */
  color: white;
  /* Set the text color for buttons inside popups */
  border: none;
  font-size: 4vh;
  border-radius: 5px;
}

.span1 {
  text-transform: capitalize;
  float: left;
  color: white;
  font: bold;
  font-size: 4.0vh;
  background-color: transparent;
}

.span2 {
  text-transform: uppercase;
  float: right;
  text-align: right;
  font: bolder;
  font-size: 4vh;
}

table {
  width: 100vw;
  background-color: blue;
  position: static;
}

caption {
  font-size: 5vh;
  text-transform: uppercase;
  text-shadow: 2px 2px green;
  text-decoration: underline;
  padding: 4px;
}

.support {
  position: fixed;
  top: 70vh;
  left: 0%;
  display: flex;
  justify-content: center;
  /* Center the table horizontally */
  align-items: center;
  /* Center the table vertically */
  width: 100vw;
  /* Adjust the width to your needs */
}

.support td {
  width: 70vw;
  border-radius: 16vh;
  padding: 2vh;
  background-color: yellow;
}

.support tr {
  background-color: red;
}

.support a {
  color: red;
  text-decoration: none;
  font-size: 4vh;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: serif;
}

#menu-corner-popup button:focus {
  border: dotted;
}

.level-menu {
  position: fixed;
  top: 17vh;
  left: 0%;
  display: fixed;
  width: 100vw;
}